.card {
    box-shadow : 1027px 15px 45px 15px rgba(19, 49, 69, 1);
    max-width: 322px;
    margin: auto;
    text-align: center;
    padding-left: 1006px;
}

body {
    background-image:url(Resources/Background1.jpg);
}

.title {
    color: gray;
    font-size:18px;
}

button {
    border:none;
    outline: 0;
    display:inline-block;
    padding:8px;
    color:white;
    background-color:black;
    text-align:center;
    width:100%;
    font-size:18px;
}
a {
    text-decoration:none;
    font-size:22px;
    color:gray;
}

button:hover, a:hover {
        opacity:0.5;
    }